<!DOCTYPE html>
<html>
<head>
    <title>Photo Enhancer</title>
    <!-- Include Bootstrap CSS and JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>Photo Enhancer</h1>
        <form method="POST">
            <div class="form-group">
                <label for="brightness">Brightness:</label>
                <input type="number" class="form-control" name="brightness" step="0.1" value="1.2">
            </div>
            <div class="form-group">
                <label for="contrast">Contrast:</label>
                <input type="number" class="form-control" name="contrast" step="0.1" value="1.2">
            </div>
            <button type="submit" class="btn btn-primary">Enhance Photo</button>
        </form>
        <hr>
        <!-- Display images here -->
        {% if original_image %}
            <h1>Original Image</h1>
            <img src="{{ original_image }}" alt="Original Image">
        
            <h1>Enhanced and Denoised Image</h1>
            <img src="{{ enhanced_image }}" style="rotate:-90deg" alt="Enhanced and Denoised Image">
        {% endif %}
    </div>
</body>
</html>

