<!DOCTYPE html>
<html>
<head>
    <title>Photo Enhancer</title>
    <!-- Include Bootstrap CSS and JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Photo Enhancer</h1>
    <form>

        <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg, .gif">
        <br>
        <label for="brightness">Brightness:</label>
        <input type="number" name="brightness" id="brightness" step="0.1" value="1.2">
        <br>
        <label for="contrast">Contrast:</label>
        <input type="number" name="contrast" id="contrast" step="0.1" value="1.2">
        <br>
        <label for="sharpen">Sharpen:</label>
        <input type="number" name="sharpen" id="sharpen" step="0.1" value="1.5">
        <br>
        <button type="button" class="btn btn-primary" id="enhance-button">Enhance</button>
    </form>  

    <div id="preview-container">
        <h2>Enhanced Image Preview:</h2>
        <img id="enhanced-preview" src="" width="200" style="display: none;">
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/ajax.js') }}"></script>
</body>
</html>